* {
	/*box-sizing: border-box;*/
	font-family: 'Roboto', sans-serif;
	outline: none;
}
.page-title-span {
	margin-left: 10px;
}

#loginProgress, #registerProgress {
	display: none;
}

#loginError, #registerError {
	display: none;
	color: red;
}

.login-cover {
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 800;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-links {
	width: 160px;
	top: 5%;
	right: 85px;
	position: absolute;
}

a:link, a:visited {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: rgba(0,0,0,.87);
	margin-left: 10px;
	text-decoration: none;
}
.mdl-dialog {
	width: 360px;
}

.mdl-layout {
	align-items: center;
  	justify-content: center;
}
.mdl-layout__content {
	padding: 24px;
	flex: none;
}

.check {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0%;
	top: 9.8%;
	opacity: 0.2;
}

.mdl-button--colored{
	float: right;
}

#close {
	position: absolute;
	right: 7px;
	cursor: pointer;
}

.mdl-card__supporting-text {
	margin-bottom: 30px;
}